body {
  font-size: 75%;
  line-height: 130%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; }

a {
  color: #2B587A;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.loader {
  background: url(../assets/loader.gif) 50% 50% no-repeat transparent;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -3px; }

.datestamp {
  padding-top: 2px;
  font-size: 10px;
  color: #999;
  display: block; }

.popup {
  width: 450px; }
  .popup #clean-up {
    display: none; }
  .popup header {
    background: #E1E7ED;
    color: #45688E;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-weight: bold;
    box-shadow: 0px 1px 2px #999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
    .popup header span {
      padding: 0 12px; }
    .popup header .pull-right {
      padding: 0 12px; }
      .popup header .pull-right span {
        padding: 0 6px;
        text-decoration: none; }
        .popup header .pull-right span:last-child {
          padding-right: 0; }
        .popup header .pull-right span:hover {
          color: #555; }
        .popup header .pull-right span i {
          font-size: 16px;
          line-height: 32px; }
  .popup #wrapper {
    padding-top: 30px; }
  .popup #auth {
    display: none; }

.options {
  padding: 20px 40px; }
  .options header {
    font-size: 120%;
    font-weight: bold;
    color: #45688E;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #C0CAD5; }
  .options .auth-actions {
    display: none; }
  .options .option-items .item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #C0CAD5; }
    .options .option-items .item img {
      padding-right: 4px;
      float: left; }
    .options .option-items .item a.header {
      color: #45688E;
      font-size: 12px;
      font-weight: bold;
      display: block;
      padding-bottom: 9px; }
    .options .option-items .item input[name=pageUrl] {
      width: 250px;
      border: 1px solid #C0CAD5;
      background: #FFF;
      color: #000;
      margin: 0px;
      padding: 4px;
      outline: 0;
      vertical-align: top;
      margin-right: 4px; }
    .options .option-items .item .loader {
      display: none; }
      .options .option-items .item .loader.visible {
        display: inline-block; }
    .options .option-items .item .status {
      display: none;
      vertical-align: top;
      vertical-align: top;
      line-height: 24px;
      padding-left: 10px;
      color: #999; }
      .options .option-items .item .status.visible {
        display: inline-block; }
    .options .option-items .item * {
      margin-right: 4px; }

#notifications {
  padding: 0; }
  #notifications .item {
    background: #fff;
    padding: 8px 12px;
    border-top: 1px solid #DAE2E8;
    overflow: hidden;
    text-overflow: ellipsis; }
    #notifications .item:hover {
      background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5); }
    #notifications .item .group-image {
      width: 50px;
      margin-right: 7px;
      display: inline-block;
      vertical-align: top; }
    #notifications .item .item-content {
      display: inline-block;
      width: 369px;
      vertical-align: top; }
      #notifications .item .item-content .group-name {
        font-weight: bold;
        padding-bottom: 3px; }
      #notifications .item .item-content .datestamp {
        padding-top: 4px; }
  #notifications p {
    padding-left: 12px;
    padding-right: 12px; }

.right {
  float: right; }

.actions {
  padding: 12px; }

.btn {
  font-size: 11px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  font-family: tahoma, arial, verdana, Lucida Sans, sans-serif;
  vertical-align: top;
  overflow: visible;
  line-height: 14px;
  border: 1px solid #5980A9;
  border-top-color: #789ABF;
  color: #FFF;
  text-shadow: 0 1px 0 #45688E;
  border-radius: 2px;
  background: #6181a6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a9bbd), color-stop(100%, #50769e));
  background: -webkit-linear-gradient(top, #7a9bbd 0%, #50769e 100%);
  background: linear-gradient(to bottom, #7a9bbd 0%, #50769e 100%); }
  .btn:hover {
    background: #668aae;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #789abf), color-stop(100%, #5980a9));
    background: -webkit-linear-gradient(top, #789abf 0%, #5980a9 100%);
    background: linear-gradient(to bottom, #789abf 0%, #5980a9 100%); }
  .btn:active {
    background: #5e80a5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e80a5), color-stop(100%, #5e80a5));
    background: -webkit-linear-gradient(top, #5e80a5 0%, #5e80a5 100%);
    background: linear-gradient(to bottom, #5e80a5 0%, #5e80a5 100%); }
