body {
  font-family: Helvetica, Arial, sans-serif; }

.btn {
  font-size: 11px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  font-family: tahoma, arial, verdana, Lucida Sans, sans-serif;
  vertical-align: top;
  overflow: visible;
  line-height: 13px;
  border: 1px solid #5980A9;
  border-top-color: #789ABF;
  color: #FFF;
  text-shadow: 0 1px 0 #45688E;
  background: #6181a6 url(http://st0.vk.me/images/button_vk.png) repeat-x 0 -16px; }

#authBtn {
  display: none; }

.popup #wrap {
  width: 300px;
  height: 200px;
  padding: 10px 20px; }

#list {
  padding: 0;
  list-style: none none;
  margin: 0 -20px;
  width: 100%; }
  #list li {
    background: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid #666; }
    #list li:hover {
      background: #eee;
      border-bottom: 1px solid #444; }
    #list li:last-child {
      border: none; }
