body {
  font-size: 75%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.popup {
  width: 450px;

  header {
    background: #E1E7ED;
    color: #45688E;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    font-weight: bold;
  }
}

.actions {
  padding: 8px 12px 12px;
}

.btn {
  font-size: 11px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  font-family: tahoma, arial, verdana, Lucida Sans, sans-serif;
  vertical-align: top;
  overflow: visible;
  line-height: 13px;
  border: 1px solid #5980A9;
  border-top-color: #789ABF;
  color: #FFF;
  text-shadow: 0 1px 0 #45688E;
  border-radius: 2px;
  background: #6181a6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9bbd), color-stop(100%,#50769e));
  background: -webkit-linear-gradient(top, #7a9bbd 0%,#50769e 100%);
  background: linear-gradient(to bottom, #7a9bbd 0%,#50769e 100%);
}

#authBtn {
  display: none;
}

#notifications {
  padding: 0;

  .item {
    background: #fff;
    padding: 8px 12px;
    border-top: 1px solid #DAE2E8;

    &:hover {
      background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5);
      //border-bottom: 1px solid #bbb;
    }
  }
}
