.button {
  padding: 0 15px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #1E3C5F;
  height: var(--header-height);
  line-height: var(--header-height);
  display: inline-block;
}

.button:hover {
  background-color: #3d6898;
}
