.form {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c0cad5;
}

.input {
  width: 250px;
  border: 1px solid #C0CAD5;
  background: #FFF;
  color: #000;
  margin: 0px;
  padding: 5px;
  height: 16px;
  line-height: 16px;
  outline: 0;
  vertical-align: top;
  margin-right: 6px;
}

.loader {
  margin: 0 6px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.status {
  vertical-align: top;
  line-height: 24px;
  padding-left: 10px;
  color: #999;
  display: inline-block;
}
