.header {
  color: var(--options-header-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-size: 120%;
  font-weight: bold;
}
