.header {
  box-sizing: border-box;
  background: #4a76a8;
  border-bottom: 1px solid #4872a3;
  color: var(--header-color);
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0;
  font-weight: 700;
  font-size: 12.5px;
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
}

.title {
  padding: 0 12px;
}

.actions {
  padding: 0;
}
