.post {
  background: var(--bg-color);
  padding: 8px var(--padding-side);
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  margin-bottom: 15px;
}

.group-image {
  width: var(--image-width);
  margin-right: var(--image-margin);
}

.wrapper {
  width: calc(var(--popup-width) - var(--image-width) - var(--image-margin) - 2 * var(--padding-side));
}

.quote {
  border-left: 2px solid #dee6ee;
  padding-left: 12px;
  margin-bottom: 4px;
}

.group-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.content {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
}
