body {
  font-size: 12px;
  line-height: 1.154;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: #2a5885;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.popup-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

