body {
  font-size: 12px;
  line-height: 1.154;
  font-weight: 400;

  --border-color: #c0cad5;
  --font-color: #000;
  --secondary-font-color: #999;
  --bg-color: #fff;
  --link-color: #2a5885;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.popup-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

