:root {
  --popup-width: 450px;
  --popup-height: 600px;
  --popup-tiny-height: calc(var(--wrapper-tiny-height) + var(--header-height));
  --header-height: 42px;
  --header-color: #FFF;
  --wrapper-tiny-height: 52px;
  --padding-side: 12px;
  --image-width: 50px;
  --image-margin: 7px;
}

.popup {
  width: var(--popup-width);
  height: var(--popup-height);
  border-top: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
}


.popup-tiny {
  height: var(--popup-tiny-height);
}

.popup-tiny .wrapper {
  height: var(--wrapper-tiny-height);
}

.wrapper {
  width: 100%;
  overflow: auto;
  height: calc(var(--popup-height) - var(--header-height));
}

.auth-wrapper {
  padding: 12px;
}
