body {
  font-size: 11px;
  line-height: 130%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

a {
  color: #2B587A;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.datestamp {
  font-size: 10px;
  color: #999;
  display: block;
}
