$popup-width: 450px;

.popup {
  width: $popup-width;

  .header {
    background: #E1E7ED;
    color: #45688E;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-weight: bold;
    box-shadow: 0px 1px 2px #999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    span {
      padding: 0 12px;
    }

    .pull-right {
      padding: 0 12px;

      .nav-btn {
        padding: 0 6px;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          color: #555;
        }

        .fa {
          font-size: 16px;
          line-height: 32px;
        }

        &.is-invisible {
          display: none;
        }
      }
    }
  }

  .wrapper {
    padding-top: 30px;
  }

  #auth {
    display: none;
  }
}

.post-list {
  padding: 0;

  $padding-side: 12px;

  .item {
    background: #fff;
    padding: 8px $padding-side;
    border-top: 1px solid #DAE2E8;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5);
    }

    $image-width: 50px;
    $image-margin: 7px;

    .group-image {
      width: $image-width;
      margin-right: $image-margin;
      display: inline-block;
      vertical-align: top;
    }

    .item-content {
      display: inline-block;
      width: $popup-width - $image-width - $image-margin - 2 * $padding-side;
      vertical-align: top;

      .group-name {
        font-weight: bold;
        padding-bottom: 3px;
      }

      .text {
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 160%;
      }

      .attachments {
        .link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          width: 330px;
        }
      }

      .datestamp {
        margin-top: 4px;
      }
    }
  }

  p {
    padding-left: 12px;
    padding-right: 12px;
  }
}
