$popup-width: 450px;

.popup {
  width: $popup-width;

  .header {
    background: #E1E7ED;
    color: #45688E;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-weight: bold;
    box-shadow: 0px 1px 2px #999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    span {
      padding: 0 12px;
    }

    .pull-right {
      padding: 0 12px;

      .nav-btn {
        padding: 0 6px;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          color: #555;
        }

        .fa {
          font-size: 16px;
          line-height: 32px;
        }

        &.is-invisible {
          display: none;
        }
      }
    }
  }

  .wrapper {
    padding-top: 30px;
  }

  #auth {
    display: none;
  }
}

.post-list {
  padding: 0;

  $padding-side: 12px;

  .item {
    background: #fff;
    padding: 8px $padding-side;
    border-top: 1px solid #DAE2E8;
    overflow: hidden;
    text-overflow: ellipsis;

    $image-width: 50px;
    $image-margin: 7px;

    .group-image {
      width: $image-width;
      margin-right: $image-margin;
      display: inline-block;
      vertical-align: top;
    }

    .item-quote {
      border-left: 2px solid #dee6ee;
      padding-left: 12px;
      margin: 5px 0 0;
    }

    .item-content {
      display: inline-block;
      width: $popup-width - $image-width - $image-margin - 2 * $padding-side;
      vertical-align: top;

      .group-name {
        font-weight: bold;
        padding-bottom: 3px;
      }

      .text {
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 160%;
      }

      .attachments {
        .link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          width: 330px;
        }

        .photo {
          width: 100%;
          display: block;
          margin-bottom: 0.5em;
        }

        .video {
          .preview {
            position: relative;

            img {
              width: 100%;
              display: block;
            }

            .play-icon {
              width: 20px;
              height: 20px;
              position: absolute;
              top: 50%;
              right: 50%;
              margin-top: -25px;
              margin-right: -25px;
              text-align: center;
              color: #fff;
              background: rgba(0, 0, 0, 0.6);
              border-radius: 50%;
              font-size: 20px;
              padding: 15px 13px 15px 17px;
            }
          }

          .title {
            margin-top: 0.5em;
            font-weight: bold;
          }
        }

        .doc-preview {
          width: 100%;
          height: 100%;
        }
      }

      .datestamp {
        margin-top: 4px;
      }
    }
  }

  p {
    padding-left: 12px;
    padding-right: 12px;
  }
}
